.OrderItem {
	width: 80%;
    box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
    padding: 15px;
    margin: 10px auto;
    box-sizing: border-box;
    outline: 0;
    border-radius: 5px;
    margin-bottom: 20px;
} 

.OrderItem span {
	font-weight: bold;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}

.OrderDetails {
	padding: 10px;
	display: flex;
	flex-flow: column;
}

.OrderDetails span {
	font-weight: normal;
	text-align: left;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 2px;
}

.OrderDetails Button {
	text-align: right;
}
